@using CarMarket.Models.Listing
@model DetailsViewModel

@{
    ViewData["Title"] = "Listing details";
}

<h1>Listing details</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (Model.IsFavorite)
    {
        <p>
             <a asp-action="RemoveFromFavorites" asp-route-listingId="@Model.Id" class="btn btn-danger" >Remove from favorites</a>
        </p>
    }
    else
    {
         <p>
             <a asp-action="AddToFavorites" asp-route-listingId="@Model.Id" class="btn btn-primary" >Add to favorites</a>
         </p>       
    }
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GearType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GearType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRegistrated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRegistrated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCrashed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCrashed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPledged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPledged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
    <div>
        <a asp-action="Verification" asp-route-vin="@Model.Vin" asp-route-listingId="@Model.Id" class="btn btn-success" >Verification</a>
    </div>
    <div>
        <a asp-action="Listings" class="btn btn-secondary" >Back to listings</a>
    </div>