@using CarMarket.Models.Listing
@model VerificationViewModel

@{
    ViewData["Title"] = "Car details verification";
}

<h1>Car details verification</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GearType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GearType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRegistrated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRegistrated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCrashed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCrashed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPledged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPledged)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="@ViewBag.ListingId" class="btn btn-secondary" >Back to details</a>
</div>
